/* Aplica la transición solo a los elementos enfocados por Shepherd.js */
.shepherd-target {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ejemplo de efecto de sombra */
    transform: scale(1.05); /* Ejemplo de escalado suave */
}

* {
    font-family: avenir, arial, monospace;
    font-size: large;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

h2,
h4 {
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    color: #007bff;
}

.diff {
    white-space: pre-wrap;
    font-family: monospace;
}

.diff .added {
    background-color: #d4edda;
    color: #155724;
}

.diff .removed {
    background-color: #f8d7da;
    color: #721c24;
}

.match {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #155724;
    margin: 10px 0;
    border-radius: 5px;
}

.mismatch {
    background-color: #F1948A;
    color: #1d1b1b;
    padding: 10px;
    border: 1px solid #E74C3C;
    margin: 10px 0;
    border-radius: 5px;
}

.error {
    background-color: #ffdddd;
    color: #d8000c;
    padding: 10px;
    border: 1px solid #d8000c;
    margin: 10px 0;
    border-radius: 5px;
}

.info {
    background-color: #e7f3fe;
    color: #0056b3;
    padding: 1px;
    margin-left: 3rem;
    margin-bottom: 10px;
    border: 1px solid #b3d7ff;
}
.info2 {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    margin-left: 3rem;
    margin-bottom: 10px;
    border: 1px solid #856404;
    margin: 10px 0;
    border-radius: 5px;
}

.CodeMirror {
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#navbarCollapse.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1rem; /* Ajustar este valor según sea necesario */
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/* Ajusta el color del texto dentro de la barra de navegación */
.navbar-dark {
    color: #ffffff; /* Establece el color del texto a blanco */
}

/* #comparisonResult {
    color: blue;
} */